node_modules
dist
development
production
.DS_Store
VERSION
yarn-error.log
ci-tests/reports
.idea

# Fra https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore

# File-based project format
*.iws

# IntelliJ
out/
