.navigasjon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2.5rem auto 0;
    max-width: 50rem;

    & :not(:first-child) {
        margin-left: .5rem;
    }

    &__knapp {
        width: 10.75rem;
        height: 2.5rem;
        padding: 0;
    }

    @media (max-width: 750px) {
        margin: 2rem auto 0;

        & :not(:first-child) {
            margin: .5rem 0 0 0;
        }

        &__knapp {
            width: 100%;
        }
    }
}

.modal {
  .knapp {
    width:100%;
  }
  & :last-child {
    margin-top: .5rem;
  }
}
