@import "oppsummering-panel";

.oppsummering {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__tittel {
    margin: 2rem 0;
  }

  &__svar {
    font-style: italic;
    margin: 0.25rem 0;
    white-space: pre-wrap;
  }
}