@import "oppsummering-steg";

.oppsummering {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__veileder {
    width: 100%;
    margin-top: 2rem;
  }

  &__veileder-tittel {
    margin-bottom: 0;
  }

  &__panel {
    margin-top: 2rem;
    width: 100%;

    & .oppsummering-steg {
      margin: .5rem 0 0 0;
    }
  }

  &__svar {
    font-style: italic;
    margin: 0.25rem 0;
    white-space: pre-wrap;
  }

  &__bekreftelse {
    margin-top: .5rem;
  }

  &__advarsel {
    display: flex;
    flex-direction: row;
  }
}


@media (min-width: 750px) {
  .oppsummering {
    &__veileder {
      width: 70%;
    }

    &__panel {
      width: 70%;
    }

    &__bekreftelse {
      width: 70%;
    }
  }
}
