@import "oppsummering-steg";

.oppsummering {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__panel {
    margin-top: 2rem;
  }

  &__svar {
    font-style: italic;
    margin: 0.25rem 0;
  }

  &__bekreftelse {
    margin-top: 1rem;
  }
}

.utenlandskeYtelser__oppsummering--forklaring {
  white-space: pre-wrap;
  word-break: break-word;
}