.familieforhold {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__ikon {
    width: 4rem;
  }

  &__tittelcontainer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  &__tittel {
    text-align: center;
  }

  &__hjelpetekst {
    width: 1.5rem;
    margin-top: auto;
    margin-left: 0.75rem;

    &__modal {
      width: 90%;
    }
  }

  &__form {
    width: 90%;
  }
}

@media(min-width: 600px) {

  .familieforhold {

    &__ikon {
      width: 6.25rem;
    }

    &__form {
      width: 65%;
    }

    &__sporsmaal {
      margin-top: 1rem;

      & .inputPanelGruppe__inner {
        display: flex;
        justify-content: space-between;
      }

      & .inputPanel {
        width: 49%;
        margin: .5rem 0;
      }
    }
  }
}

@media(min-width: 1200px) {

  .familieforhold {

    &__ikon {
      width: 6.25rem;
    }

    &__form {
      width: 45%;
    }
  }
}

