.krav__veileder__velkomstMelding {
    margin-bottom: 0px;
}

.inputPanelGruppe.krav {
    & .inputPanel {
        width: 45%;
        margin: .5rem;
        min-height: 5rem;
    }

    @media (max-width: 600px) {
        & .inputPanel {
            width: 100%;
        }
    }

    & .inputPanelGruppe__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    & .skjema__fieldset {
        max-width: 60rem;
        margin: 0 auto;
    }

    & .skjemaelement__feilmelding {
        text-align: center
    }
}