.kvittering-ikon-container {
    text-align: center;
}

.kvittering-ikon {
    height: 64px;
    width: 64px;
}

.kvittering-tittel {
    text-align: center;
    margin-bottom: 50px;
}

.kvittering-panel {
    max-width: 640px;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 50px;
    border-color:rgb(6, 137, 58);
    padding: 0px 1rem;
}

.left-column {
    width: 50px;
}

table#utvidet-info 
{
    border-collapse:separate;
    border-spacing:0 25px;
}

.alertstripe {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    display: flex;
    align-content: center;
    border-radius: 2px;
    color: rgb(62, 56, 50);
}

.alertstripe__ikon {
    margin-right: 0.75rem;
    padding-right: 0.75rem;
    width: 2.5rem;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    border-right: 1px solid rgb(183, 177, 169);
}

.typo-normal {
    margin: 0px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
}

.alertstripe_tekst {
    max-width: 37.5rem;
    flex: 1 1 0%;
    float: left;
}

.utskrift-knapp-container {
    text-align: center;
}

.utskrift-ikon {
    height: 24px;
    width: 24px;
    margin-right: calc(2.5em - 26px);
}