.barnehage {

  display: flex;
  flex-direction: column;
  align-items: center;

  &__ikon {
    width: 4rem;
  }

  &__sidetittel {
    margin-top: 1rem;
    text-align: center;
  }

  &__info {
    width: 90%;
    margin-top: 0.5rem;
  }

  &__form {
    width: 90%;
  }

  &__sporsmaal {
    margin-top: 2rem;
  }

  @media(min-width: 600px) {

    .barnehage {

      &__ikon {
        width: 6.25rem;
      }

      &__form {
        width: 65%;
      }

      &__sporsmaal {
        margin-top: 1rem;

        & .inputPanelGruppe__inner {
          display: flex;
          justify-content: space-between;
        }

        & .inputPanel {
          width: 49%;
          margin: .5rem 0;
        }
      }
    }
  }

  @media(min-width: 1200px) {

    .barnehage {

      &__ikon {
        width: 6.25rem;
      }

      &__form {
        width: 45%;
      }
    }
  }

}
