.vedlegg-liste {

  &__liste {
    list-style: none;
    padding: 0;
  }

  &__element {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__binders-ikon {
    height: 1.5rem;
    width: 1.5rem;
  }

  &__slett-knapp {
    border: none;
    text-transform: none;

    &:hover, &:focus, &:active {
      border: none;
    }
  }

  &__soppelbotte-ikon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    fill: @navBla;
  }
}